*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    left: 0;
    right: 0;
    list-style: none;
    text-align: center;
}

hr {
    border: 1px dotted #2A1804;
    border-style: none none dotted;
    margin-top: 1em;
    margin-bottom: 1em;

}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}